body {
  display: none;
}

@media only screen and (max-width: 767px) {
  html,
  body {
    display: block;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgb(236, 0, 11);
  }
  .top {
    color: rgb(219, 219, 219);
    font-size: 50px;
    text-align: center;
    border-bottom: 2px solid black;
    margin-bottom: 10px;
  }

  .btn-container > button {
    background-color: rgb(219, 219, 219);
    text-align: center;
    padding: 10px;
    font-size: 15px;
    border: none;
    border-radius: 10px;
  }

  .btn-1 {
    grid-area: soup;
  }

  .btn-2 {
    grid-area: wait;
  }

  .btn-3 {
    grid-area: kebap;
  }

  .btn-4 {
    grid-area: dessert;
  }

  .btn-5 {
    grid-area: drink;
  }

  .btn-container {
    display: grid;

    grid-template-areas:
      "soup soup wait wait"
      "kebap kebap kebap kebap"
      "dessert dessert drink drink";
    gap: 7px;
    background-color: #5e4343;
    border-radius: 10px;
    padding: 10px;
    border: 1px solid black;
    margin-bottom: 10px;
  }
  #menu {
    width: 100%;
    height: auto;
    background-color: rgba(255, 255, 255, 0.637);
    border-radius: 10px;
  }

  #list {
    display: flex;
    justify-content: space-between;
    padding: 15px;
    font-size: 20px;
    border-bottom: 1px solid black;
  }
}
